#clockHolder
{
    width: 150px;
    position: relative;
    top: 0px;
    left: 0px;
    float: right;
    margin: 10px 20px 10px 30px;
}

#sec, #min, #hour
{
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
}

#sec
{
    z-index: 3;
}
#min
{
    z-index: 2;
}
#hour
{
    z-index: 1;
}

.rotatingWrapper
{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0px;
    left: 0px;
}

