<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="Appointment" EntityName="Appointment" Owner="dbo" PropertyName="Appointment" FieldName="_appointment" FriendlyName="Appointment" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="CustomerId" CSType="System.Int64" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="ContentId" CSType="System.Int64" PropertyName="ContentId" FieldName="_contentId" FriendlyName="Content Id" IncludeInOutput="true" />
		<Column Id="DoctorId" CSType="System.Int64?" PropertyName="DoctorId" FieldName="_doctorId" FriendlyName="Doctor Id" IncludeInOutput="true" />
		<Column Id="RoomId" CSType="System.Int64?" PropertyName="RoomId" FieldName="_roomId" FriendlyName="Room Id" IncludeInOutput="true" />
		<Column Id="NurseId" CSType="System.Int64?" PropertyName="NurseId" FieldName="_nurseId" FriendlyName="Nurse Id" IncludeInOutput="true" />
		<Column Id="StatusId" CSType="System.Int64?" PropertyName="StatusId" FieldName="_statusId" FriendlyName="Status Id" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<Column Id="StartTime" CSType="System.DateTime?" PropertyName="StartTime" FieldName="_startTime" FriendlyName="Start Time" IncludeInOutput="true" />
		<Column Id="EndTime" CSType="System.DateTime?" PropertyName="EndTime" FieldName="_endTime" FriendlyName="End Time" IncludeInOutput="true" />
		<Column Id="IsComplete" CSType="System.Boolean" PropertyName="IsComplete" FieldName="_isComplete" FriendlyName="Is Complete" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
	</Table>
	<Table Id="Content" EntityName="Content" Owner="dbo" PropertyName="Content" FieldName="_content" FriendlyName="Content" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Title" CSType="System.String" PropertyName="Title" FieldName="_title" FriendlyName="Title" IncludeInOutput="true" />
		<Column Id="FuncId" CSType="System.Int64" PropertyName="FuncId" FieldName="_funcId" FriendlyName="Func Id" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
		<ChildCollection Id="AppointmentCollection" PropertyName="AppointmentCollection" FieldName="_appointmentContentId" FriendlyName="AppointmentCollection" CSType="TList&lt;Appointment&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Appointment_Content" IncludeInOutput="true"/>
	</Table>
	<Table Id="Customer" EntityName="Customer" Owner="dbo" PropertyName="Customer" FieldName="_customer" FriendlyName="Customer" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="FirstName" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="LastName" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="HomePhone" CSType="System.String" PropertyName="HomePhone" FieldName="_homePhone" FriendlyName="Home Phone" IncludeInOutput="true" />
		<Column Id="WorkPhone" CSType="System.String" PropertyName="WorkPhone" FieldName="_workPhone" FriendlyName="Work Phone" IncludeInOutput="true" />
		<Column Id="CellPhone" CSType="System.String" PropertyName="CellPhone" FieldName="_cellPhone" FriendlyName="Cell Phone" IncludeInOutput="true" />
		<Column Id="Birthdate" CSType="System.DateTime?" PropertyName="Birthdate" FieldName="_birthdate" FriendlyName="Birthdate" IncludeInOutput="true" />
		<Column Id="IsFemale" CSType="System.Boolean" PropertyName="IsFemale" FieldName="_isFemale" FriendlyName="Is Female" IncludeInOutput="true" />
		<Column Id="Title" CSType="System.String" PropertyName="Title" FieldName="_title" FriendlyName="Title" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
		<ChildCollection Id="AppointmentCollection" PropertyName="AppointmentCollection" FieldName="_appointmentCustomerId" FriendlyName="AppointmentCollection" CSType="TList&lt;Appointment&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Appointment_Customer" IncludeInOutput="true"/>
	</Table>
	<Table Id="DoctorFunc" EntityName="DoctorFunc" Owner="dbo" PropertyName="DoctorFunc" FieldName="_doctorFunc" FriendlyName="Doctor Func" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="DoctorId" CSType="System.Int64" PropertyName="DoctorId" FieldName="_doctorId" FriendlyName="Doctor Id" IncludeInOutput="true" />
		<Column Id="FuncId" CSType="System.Int64" PropertyName="FuncId" FieldName="_funcId" FriendlyName="Func Id" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
	</Table>
	<Table Id="DoctorRoom" EntityName="DoctorRoom" Owner="dbo" PropertyName="DoctorRoom" FieldName="_doctorRoom" FriendlyName="Doctor Room" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="DoctorId" CSType="System.Int64" PropertyName="DoctorId" FieldName="_doctorId" FriendlyName="Doctor Id" IncludeInOutput="true" />
		<Column Id="RoomId" CSType="System.Int64" PropertyName="RoomId" FieldName="_roomId" FriendlyName="Room Id" IncludeInOutput="true" />
		<Column Id="PriorityIndex" CSType="System.Int32" PropertyName="PriorityIndex" FieldName="_priorityIndex" FriendlyName="Priority Index" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
	</Table>
	<Table Id="DoctorRoster" EntityName="DoctorRoster" Owner="dbo" PropertyName="DoctorRoster" FieldName="_doctorRoster" FriendlyName="Doctor Roster" IncludeInOutput="true">
		<Column Id="Id" CSType="System.String" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="DoctorId" CSType="System.Int64" PropertyName="DoctorId" FieldName="_doctorId" FriendlyName="Doctor Id" IncludeInOutput="true" />
		<Column Id="RosterTypeId" CSType="System.Int64" PropertyName="RosterTypeId" FieldName="_rosterTypeId" FriendlyName="Roster Type Id" IncludeInOutput="true" />
		<Column Id="StartTime" CSType="System.DateTime" PropertyName="StartTime" FieldName="_startTime" FriendlyName="Start Time" IncludeInOutput="true" />
		<Column Id="EndTime" CSType="System.DateTime" PropertyName="EndTime" FieldName="_endTime" FriendlyName="End Time" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<Column Id="IsComplete" CSType="System.Boolean" PropertyName="IsComplete" FieldName="_isComplete" FriendlyName="Is Complete" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
	</Table>
	<Table Id="Functionality" EntityName="Functionality" Owner="dbo" PropertyName="Functionality" FieldName="_functionality" FriendlyName="Functionality" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Title" CSType="System.String" PropertyName="Title" FieldName="_title" FriendlyName="Title" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
		<ChildCollection Id="DoctorFuncCollection" PropertyName="DoctorFuncCollection" FieldName="_doctorFuncFuncId" FriendlyName="DoctorFuncCollection" CSType="TList&lt;DoctorFunc&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_DoctorFunc_Functionality" IncludeInOutput="true"/>
		<ChildCollection Id="ContentCollection" PropertyName="ContentCollection" FieldName="_contentFuncId" FriendlyName="ContentCollection" CSType="TList&lt;Content&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Content_Functionality" IncludeInOutput="true"/>
		<ChildCollection Id="RoomFuncCollection" PropertyName="RoomFuncCollection" FieldName="_roomFuncFuncId" FriendlyName="RoomFuncCollection" CSType="TList&lt;RoomFunc&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_RoomFunc_Functionality" IncludeInOutput="true"/>
	</Table>
	<Table Id="Group" EntityName="Group" Owner="dbo" PropertyName="Group" FieldName="_group" FriendlyName="Group" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Title" CSType="System.String" PropertyName="Title" FieldName="_title" FriendlyName="Title" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
		<ChildCollection Id="StaffCollection" PropertyName="StaffCollection" FieldName="_staffGroupId" FriendlyName="StaffCollection" CSType="TList&lt;Staff&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Staff_Group" IncludeInOutput="true"/>
	</Table>
	<Table Id="Room" EntityName="Room" Owner="dbo" PropertyName="Room" FieldName="_room" FriendlyName="Room" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Title" CSType="System.String" PropertyName="Title" FieldName="_title" FriendlyName="Title" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<Column Id="Status" CSType="System.String" PropertyName="Status" FieldName="_status" FriendlyName="Status" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
		<ChildCollection Id="DoctorRoomCollection" PropertyName="DoctorRoomCollection" FieldName="_doctorRoomRoomId" FriendlyName="DoctorRoomCollection" CSType="TList&lt;DoctorRoom&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_DoctorRoom_Room" IncludeInOutput="true"/>
		<ChildCollection Id="AppointmentCollection" PropertyName="AppointmentCollection" FieldName="_appointmentRoomId" FriendlyName="AppointmentCollection" CSType="TList&lt;Appointment&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Appointment_Room" IncludeInOutput="true"/>
		<ChildCollection Id="RoomFuncCollection" PropertyName="RoomFuncCollection" FieldName="_roomFuncRoomId" FriendlyName="RoomFuncCollection" CSType="TList&lt;RoomFunc&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_RoomFunc_Room" IncludeInOutput="true"/>
	</Table>
	<Table Id="RoomFunc" EntityName="RoomFunc" Owner="dbo" PropertyName="RoomFunc" FieldName="_roomFunc" FriendlyName="Room Func" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="RoomId" CSType="System.Int64" PropertyName="RoomId" FieldName="_roomId" FriendlyName="Room Id" IncludeInOutput="true" />
		<Column Id="FuncId" CSType="System.Int64" PropertyName="FuncId" FieldName="_funcId" FriendlyName="Func Id" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
	</Table>
	<Table Id="RosterType" EntityName="RosterType" Owner="dbo" PropertyName="RosterType" FieldName="_rosterType" FriendlyName="Roster Type" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="IsBooked" CSType="System.Boolean" PropertyName="IsBooked" FieldName="_isBooked" FriendlyName="Is Booked" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
		<ChildCollection Id="DoctorRosterCollection" PropertyName="DoctorRosterCollection" FieldName="_doctorRosterRosterTypeId" FriendlyName="DoctorRosterCollection" CSType="TList&lt;DoctorRoster&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_DoctorRoster_RosterType" IncludeInOutput="true"/>
	</Table>
	<Table Id="Staff" EntityName="Staff" Owner="dbo" PropertyName="Staff" FieldName="_staff" FriendlyName="Staff" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="FirstName" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="LastName" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="ShortName" CSType="System.String" PropertyName="ShortName" FieldName="_shortName" FriendlyName="Short Name" IncludeInOutput="true" />
		<Column Id="GroupId" CSType="System.Int64" PropertyName="GroupId" FieldName="_groupId" FriendlyName="Group Id" IncludeInOutput="true" />
		<Column Id="UserName" CSType="System.String" PropertyName="UserName" FieldName="_userName" FriendlyName="User Name" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="HomePhone" CSType="System.String" PropertyName="HomePhone" FieldName="_homePhone" FriendlyName="Home Phone" IncludeInOutput="true" />
		<Column Id="WorkPhone" CSType="System.String" PropertyName="WorkPhone" FieldName="_workPhone" FriendlyName="Work Phone" IncludeInOutput="true" />
		<Column Id="CellPhone" CSType="System.String" PropertyName="CellPhone" FieldName="_cellPhone" FriendlyName="Cell Phone" IncludeInOutput="true" />
		<Column Id="Birthdate" CSType="System.DateTime?" PropertyName="Birthdate" FieldName="_birthdate" FriendlyName="Birthdate" IncludeInOutput="true" />
		<Column Id="IsFemale" CSType="System.Boolean" PropertyName="IsFemale" FieldName="_isFemale" FriendlyName="Is Female" IncludeInOutput="true" />
		<Column Id="Title" CSType="System.String" PropertyName="Title" FieldName="_title" FriendlyName="Title" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<Column Id="Roles" CSType="System.String" PropertyName="Roles" FieldName="_roles" FriendlyName="Roles" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
		<ChildCollection Id="DoctorRoomCollection" PropertyName="DoctorRoomCollection" FieldName="_doctorRoomDoctorId" FriendlyName="DoctorRoomCollection" CSType="TList&lt;DoctorRoom&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_DoctorRoom_Staff" IncludeInOutput="true"/>
		<ChildCollection Id="AppointmentCollectionGetByNurseId" PropertyName="AppointmentCollectionGetByNurseId" FieldName="_appointmentNurseIdGetByNurseId" FriendlyName="AppointmentCollectionGetByNurseId" CSType="TList&lt;Appointment&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Appointment_Staff1" IncludeInOutput="true"/>
		<ChildCollection Id="AppointmentCollectionGetByDoctorId" PropertyName="AppointmentCollectionGetByDoctorId" FieldName="_appointmentNurseIdGetByDoctorId" FriendlyName="AppointmentCollectionGetByDoctorId" CSType="TList&lt;Appointment&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Appointment_Staff" IncludeInOutput="true"/>
		<ChildCollection Id="DoctorRosterCollection" PropertyName="DoctorRosterCollection" FieldName="_doctorRosterDoctorId" FriendlyName="DoctorRosterCollection" CSType="TList&lt;DoctorRoster&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_DoctorRoster_Staff" IncludeInOutput="true"/>
		<ChildCollection Id="DoctorFuncCollection" PropertyName="DoctorFuncCollection" FieldName="_doctorFuncDoctorId" FriendlyName="DoctorFuncCollection" CSType="TList&lt;DoctorFunc&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_DoctorFunc_Staff" IncludeInOutput="true"/>
	</Table>
	<Table Id="Status" EntityName="Status" Owner="dbo" PropertyName="Status" FieldName="_status" FriendlyName="Status" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int64" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Title" CSType="System.String" PropertyName="Title" FieldName="_title" FriendlyName="Title" IncludeInOutput="true" />
		<Column Id="ColorCode" CSType="System.String" PropertyName="ColorCode" FieldName="_colorCode" FriendlyName="Color Code" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<Column Id="IsDisabled" CSType="System.Boolean" PropertyName="IsDisabled" FieldName="_isDisabled" FriendlyName="Is Disabled" IncludeInOutput="true" />
		<Column Id="CreateUser" CSType="System.String" PropertyName="CreateUser" FieldName="_createUser" FriendlyName="Create User" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
		<Column Id="UpdateUser" CSType="System.String" PropertyName="UpdateUser" FieldName="_updateUser" FriendlyName="Update User" IncludeInOutput="true" />
		<Column Id="UpdateDate" CSType="System.DateTime" PropertyName="UpdateDate" FieldName="_updateDate" FriendlyName="Update Date" IncludeInOutput="true" />
		<ChildCollection Id="AppointmentCollection" PropertyName="AppointmentCollection" FieldName="_appointmentStatusId" FriendlyName="AppointmentCollection" CSType="TList&lt;Appointment&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Appointment_Status" IncludeInOutput="true"/>
	</Table>
</NetTiersMap>
