*
{
    margin: 0;
    padding: 0;
}

#clock
{
    position: relative;
    width: 150px;
    height: 150px;
    background: url(images/clockface.jpg) top center no-repeat;
    list-style: none;
}

#sec, #min, #hour
{
    position: absolute;
    height: 150px;
    width: 100%;
}

#sec
{
    background: url(images/sechand.png) top center no-repeat;
    z-index: 3;
}

#min
{
    background: url(images/minhand.png) top center no-repeat;
    z-index: 2;
}

#hour
{
    background: url(images/hourhand.png) top center no-repeat;
    z-index: 1;
}

p
{
    text-align: center;
    padding: 10px 0 0 0;
}
