<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AppointmentSystem.Data" type="AppointmentSystem.Data.Bases.NetTiersServiceSection, AppointmentSystem.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <appSettings>
    <!-- Log Severity. Options are: Debug, Info, Warning, Error, or Fatal -->
    <add key="LogSeverity" value="Debug"/>
    <!-- Unit: Minute -->
    <add key="TimeInterval" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="AppointmentSystem.Data.ConnectionString" connectionString="Data Source=.;Initial Catalog=AppointmentSystem;User Id=sa;Password=sa"/>
  </connectionStrings>
  <AppointmentSystem.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider" type="AppointmentSystem.Data.SqlClient.SqlNetTiersProvider, AppointmentSystem.Data.SqlClient" connectionStringName="AppointmentSystem.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="AppointmentSystem.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="true" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30"/>
    </providers>
  </AppointmentSystem.Data>

  <system.web>
    <httpModules>
      <add name="EntityTransactionModule" type="AppointmentSystem.Web.Data.EntityTransactionModule, AppointmentSystem.Web"/>
    </httpModules>
  </system.web>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SMSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://w2m.bluezone.vn/TESTCUSTOMER/Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="SMSSoap"
          contract="SmsBrand.SMSSoap" name="SMSSoap" />
    </client>
  </system.serviceModel>
</configuration>
