<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SMSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://w2m.bluezone.vn/TESTCUSTOMER/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="SMSSoap"
                contract="SmsBrand.SMSSoap" name="SMSSoap" />
        </client>
    </system.serviceModel>
</configuration>