<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppointmentSystem.Data" type="AppointmentSystem.Data.Bases.NetTiersServiceSection, AppointmentSystem.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <appSettings>
    <!-- Log Severity. Options are: Debug, Info, Warning, Error, or Fatal -->
    <add key="LogSeverity" value="Debug"/>
  </appSettings>
  <connectionStrings>
    <add name="AppointmentSystem.Data.ConnectionString" connectionString="Data Source=.;Initial Catalog=AppointmentSystem;User Id=sa;Password=sa"/>
  </connectionStrings>
  <AppointmentSystem.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
        *** SqlClient Provider ***
          connectionStringName: sqlclient connection string to the db
          useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
      -->
      <add name="SqlNetTiersProvider" type="AppointmentSystem.Data.SqlClient.SqlNetTiersProvider, AppointmentSystem.Data.SqlClient" connectionStringName="AppointmentSystem.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="AppointmentSystem.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="true" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="30"/>
      <!-- 
        *** WebserviceClient Provider ***
        The url parameter indicates the webservices url (ex: http://localhost/AppointmentSystem/AppointmentSystemServices.aspx)
        <add 
          name="WsNetTiersProvider" 
          type="AppointmentSystem.Data.WebServiceClient.WsNetTiersProvider, AppointmentSystem.Data.WebServiceClient"
          url="/AppointmentSystemServices.asmx" />
      -->
    </providers>
  </AppointmentSystem.Data>

  <system.web>
    <httpModules>
      <add name="EntityTransactionModule" type="AppointmentSystem.Web.Data.EntityTransactionModule, AppointmentSystem.Web"/>
    </httpModules>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SMSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://w2m.bluezone.vn/TESTCUSTOMER/Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="SMSSoap"
          contract="SmsBrand.SMSSoap" name="SMSSoap" />
    </client>
  </system.serviceModel>
</configuration>